body{
  font-family: helvetica;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:4rem;
}
.header span{
  color:gray;
  font-weight: lighter;
}
li{
  display:inline;
  list-style:none;
  padding-left: 1rem;
}
#links{
  display: flex;
  justify-content: space-around;

  padding-right: 2rem;
}
.logo{
  display:flex;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h1{
  font-family:helvetica;
  font-size:2rem;
}
/*first section*/
.one{
  display:flex;
  padding: 0 1.5rem;
  background-color: lightgray;
}
#banner{
  overflow: hidden;
  padding: 2rem 1.5rem;
  width:60%;
}
.one #banner1{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  padding-left: 1.5rem;

}
#banner1 h2{
  font-size: 4rem;
  font-weight: bold;
}
#banner1 h3{
  font-size: 2rem;
  font-weight: lighter;
}
#button{
    background-color:darkgray;
    color: white;
    padding: 1rem 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block

}
#button :visited{
    background-color:gray;
    color: white;
    padding: 1rem 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

/*second section*/
.two{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
 .main{
   padding:2rem 1.5rem;
 }
#mainpic{
  overflow: hidden;
  width:100%;
}
.main h2{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
.main p{
  font-size: 1.5rem;
  font-weight: normal;
  color: lightgray;
}
 #date {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: solid 1px gray;

}
.content-image{
  display: flex;
  border-bottom-color: solid 2px lightgray;
}
 .picture{
display:flex;
overflow: hidden;
height:auto;
width:35%;
padding: 1rem;
}
 .campus{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  flex-wrap: wrap;
  width: 65%;
  padding: .5rem;
}
.campus h3{
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
}
.campus p{
  text-align: left;
  padding-left: 2rem;
}
#background .content-image{
  background-color: lightgray;
}
/*third section*/
.learning{
  background-color:lightgray;
  padding: 2rem 2rem;

}
.learning h2{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}
.three{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding:.5rem;

}
.three .item{
  background-color: white;
  margin:1rem;

}
.three .item h3{
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}
.three .item p{
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  color: lightgray;
  font-size: 1rem;

}
/*fourth section*/
#thesis{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#thesis h2{
  text-align: center;
  font-size: 3rem;
}
.four video{
  overflow: hidden;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.four h3{
  font-size: 2rem;
}
.four p{
  width: 60%;
  color: lightgray;
  font-size: 1rem;
}
#container{
  display: flex;
}

.five{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#parent{
  display: flex;
  padding:1rem;
}
#parent .fisma{
  display:flex;
  overflow: hidden;
  height:auto;
  width:35%;
  padding: 1rem;
}
#parent .now{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 65%;
  padding: .5rem;
}
.now h3{
  font-size: 2rem;
  font-weight: bold;
  text-align:left;
  padding-left: 2rem;
}
.now p{
  padding-left:  2rem;
}
#background #parent{
  background-color: lightgray;
  padding: 1rem;
}

/*footer*/
footer{
  display: flex;
  justify-content: space-between;
  border-top: solid 1px gray;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}
