body{
  font-family: helvetica;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:64px;
}
li{
  display:inline;
  list-style: none;
}
#links{
  display: flex;
  justify-content: space-around;
  word-spacing:1.5rem;
}
.logo{
  display:flex;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}
h1{
  font-family:helvetica;
  font-size:2rem;
}
/*first section*/
.one{
  display:flex;
  padding-left:24px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: lightgray;
}
.one #banner1{
  display: flex;
  justify-content: center;
  align-items: center;

}
}
.button:link{
  text-decoration: none;

}
/*second section*/
.two{
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
 #main{
   padding-left: 24px;
   padding-right: 24px;

}
#date{
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  flex-wrap: wrap;
  border-left: solid 1px gray;
}
.orientation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*third section*/
.learning{
  background-color:lightgray;
  padding-left: 72px;
}
.three{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

/*fourth section*/
#te{
  padding-top: 32px;
}
.exhibit{
  display: flex;

}
