body{
  font-family: helvetica;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:64px;
}
li{
  display:inline;
  list-style: none;
}
#links{
  display: flex;
  justify-content: space-around;
  word-spacing:1.5rem;
}
.logo{
  display:flex;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}
h1{
  font-family:helvetica;
  font-size:2rem;
}
/*first section*/
.one{
  display:flex;
  padding: 0 1.5rem;
  background-color: lightgray;
}
#banner{
  overflow: hidden;
  padding: 2rem 1.5rem;
  width:60%;
}
.one #banner1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1.5rem;
}
}
#button:link, #button:visited{
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block

}
/*second section*/
.two{
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

}
 #main{
   overflow: hidden;
   padding-left: 24px;
   padding-right: 24px;
   width: 60%;
}
#date{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  border-left: solid 1px gray;
}
#date .picture{
display:block;
width:100%;
}
#date #campus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*third section*/
.learning{
  background-color:lightgray;
  padding-top: 32px;
}
.learning h2{
  text-align: center;
  padding-bottom: 32px;
}
.three{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

/*fourth section*/
#TE{
  padding-top: 32px;
}
#TE h2{
  text-align: center;
}
.exhibit{
  display: flex;

}
